@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex/RobotoFlex-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', serif;
}

